<% if @card.blank? %>
    <h3><%= t('.missing_words1') %><%= link_to t('.add_some'), new_pack_path, class: "btn-link" %><%= t('.missing_words2') %></h3>
<% else %>
  <div id="train-form">
    <%= render partial: 'dashboard/cards/trainform' %>
  </div>
<% end %>
