<h1 class="page-header">Редактирование карточки</h1>

<%= render partial: 'cards/form' %><br />

<%= link_to ' < Назад', cards_path, class: "btn btn-default btn-sm additional_btns" %> | 
<%= link_to 'Удалить', @card, method: :delete, data: { confirm: "Вы уверены?" }, class: "btn btn-sm btn-danger" %>


