<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
        <h1>Привет, <%= @user.email %></h1>
        <p>
            У тебя есть карточки, которые надо поучить еще<br>
        </p>
        <p>
            Заходи на сайт и продолжай учиться!
        </p>
        <p>flashcards-sinpai.herokuapp.com</p>
    </body>
</html>
