<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
        <h1><%= t('.')%><%= @user.email %></h1>
        <p>
            <%= t('.')%><br>
        </p>
        <p>
            <%= t('.')%>
        </p>
        <p>flashcards-sinpai.herokuapp.com</p>
    </body>
</html>
